.navbar {
    background-color: #e4cece;
}

#quoteCard {
    width: 45rem;
}

#homeFeature {
    width: 18rem;
}

.footer {
    color: black;
    background-color: #ffe6ff;
    margin-top: 2rem;
    padding: 1rem;
    text-align: center;
}

.containerImages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}