* {
    font-family: $font;
}

header {
    border-style: double;
    border-width: 1.5rem;
    border-color: $mauve;
    height: 20rem;
    background: url(clothes.jpg);
    background-size: cover;
}

.nav {
    margin-left: 15%;
    margin-top: 1%;
    color: $orange;
    font-weight: bolder;
}

a {
    text-decoration: none;
    color: inherit;
}

.primary {
    margin-left: 15%;
    width: 40%;
    margin-top: 1%;
    padding: 1%;
    float: left;
    border-style: double;
    border-color: $green;
    border-width: 1.5rem;
}

h1 {
    color: $tan;
    font-weight: bolder;
}

aside {
    margin-right: 15%;
    margin-top: 1%;
    padding: 1%;
    width: 18%;
    float: right;
    border-style: double;
    border-color: $green;
    border-width: 1.5rem;

}

h2 {
  color: $tan;
  font-weight: bolder;
}

.side-button {
    padding-left: 5.625rem;
}

/* Button styling, created by Will Woodgate, JSFiddle: https://jsfiddle.net/willwood/gjf139z4/5/ */

i {
    color: $cream;
    font-size: 2.5rem;
}

.hiButton {
    width: 3rem;
    height: 3rem;
    text-align: center;
    display: block;
    padding: 0.625rem;
    box-shadow: 0 0 0 0#f6e3c4;
    border-radius: 50%;
    background-color: $orange;
    -webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    font-size: 1rem;
    font-weight: bolder;
    text-decoration: none;
    color: $cream;
    transition: all 300ms ease-in-out;
  }
  
  /*Remove pulsing effect when hovering */
  a.hiButton:hover {
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    animation: none;
    color: #ffffff;
  }
  
  /* Pulsing animation */
  
  @-webkit-keyframes pulsing {
    to {
      box-shadow: 0 0 0 30px #dc7863;
    }
  }
  
  @-moz-keyframes pulsing {
    to {
      box-shadow: 0 0 0 30px #dc7863;
    }
  }
  
  @-ms-keyframes pulsing {
    to {
      box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
    }
  }
  
  @keyframes pulsing {
    to {
      box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
    }
  }

  /*Styles for second content box on index page*/
  .secondary {
    margin-left: 15%;
    width: 40%;
    margin-top: 1%;
    padding: 1%;
    float: left;
    border-style: double;
    border-color: $green;
    border-width: 1.5rem;
  }

  /*Footer styles*/ 
  .footer {
    text-align: center;
    color: $orange;

    &__nav {
      display: inline-block;
      margin-left: 20%;
      padding-left: 10%;
      padding-top: 1%;
    }
  }