// Colors
$gray: #f6f5f6;
$white: #ffffff;
$black: #000000;
$green: #7acb00;
$pink: #ff0097;
$red: #F1352B;
$orange: #ff6600;
$yellow: #ffb617;
$robins: #01c1d6;
$purple: #6e27c5;
$blue: #150f96;

//Joce's variables
$green: #c6d8cf;
$mauve: #dfbbb6;
$tan: #e7c9b1;
$cream: #f6e3c4;
$orange: #dc7863;
$font: HelveticaNeue-Bold, "Helvetica Neue";