/*style for outer gray box*/
.main {
    width: 59.438rem;
    height: 29.625rem;
    background-color: $outer-gray; /*variable*/
    border: 0.5px solid #d3d3d3;
    border-radius: 5px;
    
    /*media query for outter gray box*/
    @include small-screen {
        width: 100%;
        height: 100%;
    }
}

/*style for white box*/
.background {
    width: 52.938rem;
    height: 23.938rem;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    margin: 2.813rem;
    
    /*media query for white box*/
    @include small-screen {
        width: 80%;
        height: 100%;
        display: block;
    }
}

/*style for photo/name/title*/
.photo-title {
    float: left;
    padding-top: 6.25rem;
    align-self: center;

    /*media query for photo/name/title block*/
    @include small-screen {
        width: 75%;
        float: none;
    }
    
    /*First instance of nesting*/
    &__headshot {
        width: 14.063rem;
        height: 13.875rem;
        border-radius: 50%;

      /*media queries for headshot*/
      @include small-screen {
          margin-left: 20%;
      }

      @include extra-small-screen {
          margin-left: 10%;
      }
    }

    &__name {
      font-size: 1.625;
      font-weight: bold;
      color: #707070;
      font-family: $font; /*variable*/
      text-align: center;
    }

    &__title {
      color: rgb(112, 112, 112);
      font-size: 1.25rem;
      font-weight: lighter;
      font-family: $font; /*variable*/
      font-style: italic;
      text-align: center;
    }
}


/*Style for info container*/
.info {
    width: 31.25rem;
    height: 19.313rem;
    background-color: $inner-gray; /*variable*/
    align-self: center;
    padding-left: 1.875rem;
    margin: 1.25rem;
    display: flex;
    align-items: center;

    /*media query for info box*/
    @include small-screen {
        width: 75%;
        margin: 0px;
    }
}

/*Style for profile container*/
.profile__para {
    font-size: 1.25rem;
    font-weight: normal;
    font-family: $font; /*variable*/
    color: #707070;
    align-self: center;
    
    /*media query for profile container*/
    @include small-screen {
        width: 100%;
    }

}

img {
    vertical-align: middle;
}